

.headTop{
    display: flex;
    width: 100%;
    padding: 4px 0;
    background-color: rgb(234,234,234);
    z-index: 2;
}
.headMain .wrap{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 999;
}
.headTop .headTime{
    float: left;
    position: relative;
}
.headTop ul{
    float: right;
    position: relative;
    /* margin-right: 10px; */
}
.headTop ul li{
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
.headTop ul li::before{
    content: '|';
    position: absolute;
    left: -10px;
}
.headTop ul li:first-child::before{
    content: '';
}
.headInfo{
    display: flex;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(247,247,247);
    position: relative;
}
.headList{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
}

.headList>li{
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.headInfo ul li span{
    cursor: pointer;
}
.createPlatform{
    cursor: pointer;
}
#createChoose{
    position: absolute;
    display: none;
    width: 140px;
    top: 20px;
    left: -30px;
    background-color: rgb(234,234,234);
    padding: 8px 0px 0px 0px;
    color: gray;
    border-radius: 4px;
    /* border-bottom-right-radius: 0px; */
}
#createChoose li{
    padding: 0 0 8px 20px;
}
#createChoose li:hover{
    color: #016FEC;
}
/* .headInfo ul li:hover{
    color: #016FEC;
} */
.choose{
    color: #016FEC;
}
.headList li a{
    color: black;
}
.headList li{
    position: relative;
}
.sourceShowList{
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
    width: 100px;
    background-color: rgb(234,234,234);
    padding: 8px 0px 0px 0px;
    border-radius: 4px;
    z-index: 99999;
}
.sourceShowList li a{
    color: gray;
}
.sourceShowList li{
    text-align: center;
    margin: 0 0 8px 0;
    cursor: pointer;
}
.sourceShowList li:hover>a{
    color: #016FEC;
}