* {
    box-sizing: border-box;
}
.runnet_main_body .wrap {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.runnut_head {
    padding-top: 20px;
    position: relative;
    border-bottom: 2px solid #2a6be3;
    padding-bottom: 15px;
    padding-left: 20px;
}
.runnut_head .borderl {
    display: inline-block;
    width: 4px;
    height: 14px;
    background-color: #2a6be3;
    position: relative;
    top: 2px;
    margin-right: 6px;
}
.runnut_head #curTitle {
    color: #2a6be3;
}
.page-nav {
    font-size: 15px;
    padding: 30px 0 15px 0;
}
.page-nav .color-icon {
    color: #2a6be3;
}
.page-nav span {
    font-weight: bold;
}

/* 高度 */
.height300 {
    height: 300px;
    box-sizing: border-box;
}
.height500 {
    height: 500px;
    box-sizing: border-box;
}
.block {
    border: 1px solid #dedede;
    box-shadow: 0 0 10px #0000003d;
    /* border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px; */
}
.none {
    display: none;
}
.scroll-y {
    overflow-y: scroll;
}
.overflow-hidden {
    overflow: hidden;
}
.runnet_tab_custom .layui-tab {
    margin: 0;
}
.runnet_tab_custom .tab-left {
    width: 200px;
}
.runnet_tab_custom .tab-left li {
    display: block;
    margin-bottom: 8px;
}
.runnet_tab_custom .tab-left .layui-this {
    background-color: #2a6be3;
    color: #fff !important;
}
.runnet_tab_custom .content-right {
    width: 100%;
    padding: 0;
    padding-left: 20px;
}
.runnet_tab_custom .content-right .layui-tab-card {
    box-shadow: none;
    /* border-right: 0;
    border-bottom: 0; */
}
.runnet_tab_custom .content-right .layui-tab-content {
    height: 300px;
}
/* 列表 */
.runnet_lists li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #dedede;
}
.runnet_lists i {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #2a6be3;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.layui-btn a {
    color: inherit;
}
#my_space_content {
    /* box-shadow: 0 0px 1px #fff, 3px 0 5px #dedede, 0 3px 5px #dedede, -3px 0 5px #dedede; */
    border: 1px solid #dedede;
    box-shadow: 0 0 10px #0000003d;
    margin-bottom: 50px;
}
#my_space_content .layui-table,
#my_space_content .layui-table-view {
    margin: 0;
}
.layui-form-label.required::before {
    content: '*';
    color: red;
    position: relative;
    left: -5px;
    font-size: 17px;
    top: 5px;
}
.img-box {
    overflow: hidden;
}
.img-box img {
    width: 100%;
    height: 100%;
}
.img-box:hover img {
    transform: scale(1.3);
    transition: all 0.5s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.tips-title {
    position: relative;
}
.tips-title::before {
    content: '';
    width: 2px;
    height: 13px;
    background-color: #2a6be3;
    position: absolute;
    left: -10px;
    top: 4px;
}
/* 覆盖layui 样式 */
/*分页*/
.layui-table-page {
    text-align: right;
    padding-top: 30px;
    height: 80px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #2a6be3 !important;
}

/* CheckBox */
.layui-form-checked[lay-skin='primary'] i {
    background-color: #2a6be3 !important;
    border-color: #2a6be3 !important;
}
.layui-table-view .layui-form-checkbox i:hover {
    border-color: #2a6be3;
}
.layui-form-radio > i:hover,
.layui-form-radioed > i {
    color: #2a6be3;
}

/* 按钮 */
.layui-btn,
.layui-form-select dl dd.layui-this {
    background-color: #2a6be3;
}
.layui-btn.layui-btn-primary {
    background-color: #fff;
}
.layui-btn.layui-btn-danger {
    background-color: #f04040;
}
.layui-btn-primary.layui-border-blue {
    border-color: #2a6be3 !important;
    color: #2a6be3 !important;
    background-color: #fff;
}
/* 表格 */
.layui-table-view {
    border-color: #ddd;
}
.layui-table thead tr {
    background-color: #f6f9fe;
}
.layui-table thead tr th {
    color: #0b65b7;
    font-weight: bold;
}
/* 导航 */
.runnut_head .layui-breadcrumb a:hover {
    color: #2a6be3 !important;
}
/*i表单on*/
.layui-form .layui-form-label {
    padding-left: 0;
}
.layui-tab-brief > .layui-tab-title .layui-this {
    color: #2a6be3;
}
.layui-tab-brief > .layui-tab-title .layui-this:after {
    border-bottom: 2px solid #2a6be3;
}

/* 表单里增加删除按钮 */
.layui-icon-reduce-circle.del {
    color: #f04040;
    /* font-weight: 700 !important; */
}
.layui-icon-add-circle.add {
    color: #2a6be3;
    /* font-weight: 700 !important; */
}
.layui-layer-page .layui-layer-content {
    overflow: visible !important;
}
