<!-- <head> -->
<!-- <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	   -->
<!-- 导入 layui 的样式表 -->
<!-- <link rel="stylesheet" href="../lib/layui/css/layui.css" /> -->
<!-- 导入第三方图标库 -->
<!-- <link rel="stylesheet" href="" /> -->
<!-- 导入自己的样式表 -->
<link rel="stylesheet" href="css/header.css" />
<!-- <title>中国科学宣传网</title> -->
<!-- </head> -->

<div class="headMain">
    <div class="headTop">
        <div class="wrap">
            <div class="headTime"></div>

            <ul>
                <li>
                    <a onclick="loginFun()"><span>登录</span></a>
                </li>
                <li>注册</li>
                <li>站内信</li>
                <li>联系我们</li>
            </ul>
        </div>
    </div>
    <div class="headInfo">
        <div class="wrap">
            <img src="images/LOG.png" height="50px">

            <ul class="headList">
                <li><a href="index.html"><span>首页</span></a></li>
                <li><a href="resourceShow.html"><span>资源展示</span></a></li>
                <li class="resourceShowMain">
                    <span>资源共享</span>
                    <ul class="sourceShowList">
                        <li><a href="dataService.html">数据服务</a></li>
                        <li><a href="portService.html">接口服务</a></li>
                    </ul>
                </li>
                <li class="createPlatform">
                    <a href="runnet_crowdCreate.html"><span>众创平台</span></a>
                    <ul id="createChoose">
                        <a href="runnet_incubator.html" style="color: gray;">
                            <li>创新创业孵化</li>
                        </a>
                        <a href="runnet_researchBase.html" style="color: gray;">
                            <li>‘云’端产学研基地</li>
                        </a>

                        <a href="runnet_createLeague.html" style="color: gray;">
                            <li>科创联盟</li>
                        </a>
                    </ul>
                </li>
                <li><span><a href="mySpaceDashboard.html">我的空间</a></span></li>
                <li><span>关于我们</span></li>
            </ul>
        </div>
    </div>
</div>

<script src="js/header.js"></script>
<script>
    function loginFun() {
        layer.open({
            type: 2,
            title: '登录',
            area: ['500px', '300px'],
            fixed: true, //不固定
            // maxmin: true,
            content: 'login.html',
        })
    }
</script>
