<ul class="layui-nav layui-nav-tree" lay-filter="test">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <!-- <li class="layui-nav-item">
        <a href="javascript:;">作品管理</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li> -->
    <li class="layui-nav-item"><a href="mySpaceDashboard.html">个人信息</a></li>
    <li class="layui-nav-item">
        <a href="workListForSubmit.html">我的作品(个人)</a>
    </li>
    <li class="layui-nav-item">
        <a href="workListForScore.html">作品复审和终审（专家）</a>
    </li>

    <li class="layui-nav-item">
        <a href="workManage.html">作品管理（管理员）</a>
    </li>
    <!-- <li class="layui-nav-item" class="layui-nav-item"><a href="workListForReviewResult.html">作品复审结果</a></li> -->
    <li class="layui-nav-item">
        <a href="notifyManage.html">通知管理</a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a>专家管理</a>
        <dl class="layui-nav-child">
            <dd><a href="expertDomainSetting.html">专家表单设置</a></dd>
            <dd><a href="expertList.html">专家评分列表</a></dd>
            <dd><a href="expertScoreStatistics.html">专家评分结果统计</a></dd>
            <dd><a href="expertDataList.html">专家库</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a href="newsManage.html">新闻设置</a>
    </li>
</ul>
<script>
    var pathname = window.location.pathname
    var menus = $('.layui-nav-tree a')
    for (var i = 0; i < menus.length; i++) {
        var path = $(menus[i]).attr('href')
        if (pathname.includes(path)) {
            $(menus[i]).parent().addClass('layui-this')
        }
    }
    layui.use('element', function () {
        var element = layui.element //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.render()
    })
</script>
