


<link rel="stylesheet" href="css/search.css" />
<div class="search">
	<div class="wrap">
		<div class="searchIptBox">
			<div class="searchIptDiv">
				<input type="text" class="searchIpt" placeholder="请输入关键字..." />
				<i class="layui-icon layui-icon-search searchIcon"></i>
			</div>


			<div class="searchWord">
				<span>热词搜索:</span>
				<ul>
					<li>降水量</li>
					<li>年均温</li>
					<li>湿度</li>
					<li>全球</li>
					<li>温度</li>
					<li>年</li>
					<li>融合</li>
					<li>日照时数</li>
				</ul>
			</div>
		</div>
		<a href="searchMain.html"><button type="button" class="searchBtn">高级检索</button></a>
	</div>
</div>
		
	
